<footer>
  <div class="container">
    <div class="footer-desktop-wrapper">
      <div class="footer-wrapper">
        <div class="footer-logo">
          <a
            href="../index.html"
            class="footer-logo-link"
            aria-label="NFT Marketplace logo and link to main page"
          >
            <svg class="footer-logo-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-Storefront"></use>
            </svg>
            <svg class="footer-nft-icon" width="200" height="21">
              <use href="./img/icons.svg#icon-NFT-Marketplace"></use>
            </svg>
          </a>
        </div>
        <p class="footer-text">
          NFT marketplace UI created with Anima for Figma.
        </p>
        <p class="socials-subtitle">Join our community</p>
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://discord.com/"
              target="_blank"
              aria-label="link to discord"
            >
              <svg class="footer-socials-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-DiscordLogo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://youtube.com/"
              target="_blank"
              aria-label="link to youtube"
            >
              <svg class="footer-socials-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-YoutubeLogo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://twitter.com/"
              target="_blank"
              aria-label="link to twitter"
            >
              <svg class="footer-socials-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-TwitterLogo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://instagram.com/"
              target="_blank"
              aria-label="link to instagram"
            >
              <svg class="footer-socials-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-InstagramLogo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-nav">
        <p class="footer-nav-title">Explore</p>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Marketplace</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Rankings</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Connect a wallet</a>
          </li>
        </ul>
      </div>
      <div class="footer-form">
        <p class="footer-form-title">Join our weekly digest</p>
        <p class="footer-form-text">
          Get exclusive promotions & updates straight to your inbox.
        </p>
        <div class="footer-input">
          <input
            class="input-field"
            name="user-email"
            type="email"
            placeholder="Enter Your Email Address"
            pattern="[a-zA-Z0-9._%±]+@ [a-zA-Z0-9.-]+\. [a-zA-Z0-9_-]+"
            required
          />
          <button class="footer-btn" type="submit">
            <svg class="footer-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-EnvelopeSimple"></use>
            </svg>
            Subscribe
          </button>
        </div>
      </div>
    </div>
    <div class="footer-bottom-part">
      <p class="footer-bottom-text">
        &#169; NFT Market. Use this template freely.
      </p>
    </div>
  </div>
</footer>
