<header class="header animated-element animation-rotate-down">
  <div class="container flex-center">
    <nav class="header-nav">
      <a
        class="header-logo-link"
        href="./index.html"
        aria-label="NFT Marketplace logo and link to main page"
      >
        <svg class="header-logo-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-Storefront"></use>
        </svg>
        <svg class="header-nft-icon" width="200" height="21">
          <use href="./img/icons.svg#icon-NFT-Marketplace"></use>
        </svg>
      </a>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link current" href="./marketplace.html"
            >Marketplace</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="./rankings.html">Rankings</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="./connect-wallet.html"
            >Connect a wallet</a
          >
        </li>
      </ul>
      <div class="header-buttons">
        <a href="./create-account.html" class="btn-sign-up">
          <svg class="icon-user" width="20" height="20">
            <use href="./img/icons.svg#icon-User"></use>
          </svg>
          <span class="sign-up-text">Sign Up</span>
        </a>
        <button
          class="menu-btn js-open-menu"
          type="button"
          aria-label="Open menu button"
          aria-expanded="false"
        >
          <svg class="menu-btn-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-List"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
<div class="mobile-menu js-menu-container">
  <div class="mobile">
    <div class="close-btn">
      <button class="menu-close-btn js-close-menu" type="button">
        <svg class="menu-close-icon" width="25" height="25">
          <use href="./img/icons.svg#icon-Plus"></use>
        </svg>
      </button>
    </div>
    <div class="mob-menu">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="./marketplace.html">
            <svg class="icon-modal" width="22" height="22">
              <use href="./img/icons.svg#icon-Storefront"></use>
            </svg>
            <span class="sign-up-text">Marketplace</span>
          </a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="./rankings.html">
            <svg class="icon-modal" width="22" height="22">
              <use href="./img/icons.svg#icon-TrendUp"></use>
            </svg>
            <span class="sign-up-text">Rankings</span>
          </a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="./connect-wallet.html">
            <svg class="icon-modal" width="22" height="22">
              <use href="./img/icons.svg#icon-Wallet"></use>
            </svg>
            <span class="sign-up-text">Connect a wallet</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="btn-modal">
      <a href="./create-account.html" class="btn-sign-up modal">
        <svg class="icon-user" width="20" height="20">
          <use href="./img/icons.svg#icon-User"></use>
        </svg>
        <span class="sign-up-text">Sign Up</span>
      </a>
    </div>
  </div>
</div>

<!-- Scroll to top button -->
<button
  id="scroll-up-btn"
  title="Go to top"
  class="scroll-up-btn"
>
  <svg class="scroll-up-icon" width="30" height="30">
    <use href="./img/icons.svg#icon-scroll-up"></use>
  </svg>
</button>
