<section class="section discover">
    <div class="container">
        <h2 class="heading">Discover More NFTs</h2>
        <p class="under-heading">Explore new trending NFTs</p>
        <ul class="discover-cards">
            <li class="discover-card">
                <img src="./img/homepage/hp_discover_01_1x.webp" alt="skyship">
                <div class="discover-box">
                    <h3 class="discover-box--title">Distant Galaxy</h3>
                    <div class="discover-box--user">
                        <img src="../img/homepage/hp_top_creators_01_1x.webp" alt="avatar" height="24" width="24">
                        <p>MoonDancer</p>
                    </div>
                    <div class="discover-box--price">
                        <p class="disbox-title--top">Price</p>
                        <P class="disbox-title--top txt-a-r">Highest Bid</P>
                        <p class="disbox-title--bottom">1.63 ETH</p>
                        <P class="disbox-title--bottom txt-a-r">0.33 wETH</P>
                    </div>
                </div>
            </li>
            <li class="discover-card">
                <img src="./img/homepage/hp_discover_02_1x.webp" alt="skyship">
                <div class="discover-box">
                    <h3 class="discover-box--title">Life on Edena</h3>
                    <div class="discover-box--user">
                        <img src="../img/homepage/hp_top_creators_02_1x.webp" alt="avatar" height="24" width="24">
                        <p>NebulaKid</p>
                    </div>
                    <div class="discover-box--price">
                        <p class="disbox-title--top">Price</p>
                        <P class="disbox-title--top txt-a-r">Highest Bid</P>
                        <p class="disbox-title--bottom">1.63 ETH</p>
                        <P class="disbox-title--bottom txt-a-r">0.33 wETH</P>
                    </div>
                </div>
            </li>
            <li class="discover-card">
                <img src="./img/homepage/hp_discover_03_1x.webp" alt="skyship">
                <div class="discover-box">
                    <h3 class="discover-box--title">AstroFiction</h3>
                    <div class="discover-box--user">
                        <img src="../img/homepage/hp_top_creators_03_1x.webp" alt="avatar" height="24" width="24">
                        <p>Spaceone</p>
                    </div>
                    <div class="discover-box--price">
                        <p class="disbox-title--top">Price</p>
                        <P class="disbox-title--top txt-a-r">Highest Bid</P>
                        <p class="disbox-title--bottom">1.63 ETH</p>
                        <P class="disbox-title--bottom txt-a-r">0.33 wETH</P>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="discover-link">
            <svg>
                <use href="./img/icons.svg#icon-Eye"></use>
            </svg>
            See All
        </a>
    </div>
</section>
<section class="section magicmush">
    <div class="container">
        <h2>Magic Mushrooms</h2>
        <a href="#">Shroomie</a>
        <a href="#">See NFT</a>
    </div>
</section>
<section class="section hiw">
    <div class="container">
        <h2 class="heading">How it works</h2>
        <p class="under-heading">Find out how to get started</p>
        <ul class="hiw-cards">
            <li class="hiw-card">
                <img class="hiw-img" src="./img/homepage/hp_how_1x.webp" alt="wallet" height="100" width="100">
                <h3>Setup Your wallet</h3>
                <p>Set up your wallet of choice. Connect it to the NFT market by clicking the wallet icon in the top right corner.</p>
            </li>
            <li class="hiw-card">
                <img class="hiw-img" src="./img/homepage/hp_how_1x.webp" alt="wallet" height="100" width="100">
                <h3>Create Collection</h3>
                <p>Upload your work and setup your collection. Add a description, social links and floor price.</p>
            </li>
            <li class="hiw-card">
                <img class="hiw-img" src="./img/homepage/hp_how_1x.webp" alt="wallet" height="100" width="100">
                <h3>Start Earning</h3>
                <p>Choose between auctions and fixed-price listings. Start earning by selling your NFTs or trading others.</p>
            </li>
        </ul>
    </div>
</section>
<section class="section subwid">
    <div class="container">
        <div>
            <img class="subwid-img" src="./img/homepage/hp_how_1x.webp" alt="astronaft">
            <form class="subwid-form">
                <h2 class="heading">Join our weekly digest</h2>
                <p class="under-heading">Get exclusive promotions & updates straight to your inbox.</p>
                <input type="email" placeholder="Enter Your Email Address">
                <button>
                    <svg>
                        <use href="./img/icons.svg#icon-EnvelopeSimple"></use>
                    </svg>    
                    Subscribe
                </button>
            </form>
        </div>
    </div>
</section>