<section class="section discover">
    <div class="container">
        <h2 class="heading">Discover More NFTs</h2>
        <p class="under-heading">Explore new trending NFTs</p>
        <ul class="discover-cards">
            <li class="discover-card animated-element animation-scale">
                <a href="./artist-page.html" aria-label="link to artist page">
                    <img 
                    srcset="./img/homepage/hp_discover_01_1x.webp 330w,
                            ./img/homepage/hp_discover_01_2x.webp 660w," 
                    alt="spaceship" 
                    src="./img/homepage/hp_discover_01_2x.webp"
                    sizes="(min-width: 834px) 330px, 315px">
                    <div class="discover-box">
                        <h3 class="discover-box--title">Distant Galaxy</h3>
                        <div class="discover-box--user">
                            <img src="../img/homepage/hp_top_creators_03_1x.webp" alt="avatar" height="24" width="24">
                            <p>MoonDancer</p>
                        </div>
                        <div class="discover-box--price">
                            <p class="disbox-title--top">Price</p>
                            <P class="disbox-title--top txt-a-r">Highest Bid</P>
                            <p class="disbox-title--bottom">1.63 ETH</p>
                            <P class="disbox-title--bottom txt-a-r">0.33 wETH</P>
                        </div>
                    </div>
                </a>
            </li>
            <li class="discover-card animated-element animation-scale">
                <a href="./artist-page.html" aria-label="link to artist page">
                    <img 
                srcset="./img/homepage/hp_discover_02_1x.webp 330w,
                        ./img/homepage/hp_discover_02_2x.webp 660w," 
                alt="sky" 
                src="./img/homepage/hp_discover_02_2x.webp"
                sizes="(min-width: 834px) 330px, 315px">
                <div class="discover-box">
                    <h3 class="discover-box--title">Life on Edena</h3>
                    <div class="discover-box--user">
                        <img src="./img/homepage/hp_top_creators_07_1x.webp" alt="avatar" height="24" width="24">
                        <p>NebulaKid</p>
                    </div>
                    <div class="discover-box--price">
                        <p class="disbox-title--top">Price</p>
                        <P class="disbox-title--top txt-a-r">Highest Bid</P>
                        <p class="disbox-title--bottom">1.63 ETH</p>
                        <P class="disbox-title--bottom txt-a-r">0.33 wETH</P>
                    </div>
                </div>
                </a>
            </li>
            <li class="discover-card animated-element animation-scale">
                <a href="./artist-page.html" aria-label="link to artist page">
                    <img 
                        srcset="./img/homepage/hp_discover_03_1x.webp 330w,
                                ./img/homepage/hp_discover_03_2x.webp 660w," 
                        alt="astronaft" 
                        src="./img/homepage/hp_discover_03_2x.webp"
                        sizes="(min-width: 834px) 330px, 315px">
                <div class="discover-box">
                    <h3 class="discover-box--title">AstroFiction</h3>
                    <div class="discover-box--user">
                        <img src="./img/homepage/hp_top_creators_11_1x.webp" alt="avatar" height="24" width="24">
                        <p>Spaceone</p>
                    </div>
                    <div class="discover-box--price">
                        <p class="disbox-title--top">Price</p>
                        <P class="disbox-title--top txt-a-r">Highest Bid</P>
                        <p class="disbox-title--bottom">1.63 ETH</p>
                        <P class="disbox-title--bottom txt-a-r">0.33 wETH</P>
                    </div>
                </div>
                </a>
            </li>
        </ul>
        <a href="./artist-page.html" class="discover-link" aria-label="See all artists">
            <svg>
                <use href="./img/icons.svg#icon-Eye"></use>
            </svg>
            See All
        </a>
    </div>
</section>
<section class="section magicmush">
    <div class="bg-magicmush">
        <div class="container">
            <div>
                <a class="mm-link-ac" href="./create-account.html" aria-label="link to Shroomie">
                    <img src="./img/homepage/hp_top_creators_07_1x.webp" alt="avatar" height="24" width="24">
                    Shroomie
                </a>
                <h2 class="heading">Magic Mushrooms</h2>
                <a class="mm-link-markplace" href="./marketplace.html"  aria-label="See more NFT">
                    <svg>
                        <use href="./img/icons.svg#icon-Eye"></use>
                    </svg>
                    See NFT
                </a>
            </div>
            <div class="timer">
                <div>
                  <p>Auction ends in:</p>
                  <div class="timer-field">
                    <span class="timer-value hoursValue">59</span>
                    <span class="timer-units">Hours</span>
                  </div>
                  <div class="timer-field">
                    <span class="timer-value minutesValue">59</span>
                    <span class="timer-units">Minutes</span>
                  </div>
                  <div class="timer-field">
                    <span class="timer-value secondsValue">59</span>
                    <span class="timer-units">Seconds</span>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section hiw">
    <div class="container">
        <h2 class="heading">How it works</h2>
        <p class="under-heading">Find out how to get started</p>
        <ul class="hiw-cards">
            <li class="hiw-card animated-element animation-scale">
                <img 
                class="hiw-img" 
                srcset="./img/homepage/hiw_1_1x.webp 250w,
                        ./img/homepage/hiw_1_2x.webp 500w"
                src="./img/homepage/hiw_1_2x.webp" 
                alt="wallet" 
                sizes="(min-width: 1280px) 250px,(min-width: 834px) 160px, 100px">
                <h3>Setup Your wallet</h3>
                <p>Set up your wallet of choice. Connect it to the NFT market by clicking the wallet icon in the top right corner.</p>
            </li>
            <li class="hiw-card animated-element animation-scale">
                <img 
                class="hiw-img" 
                srcset="./img/homepage/hiw_2_1x.webp 250w,
                        ./img/homepage/hiw_2_2x.webp 500w"
                src="./img/homepage/hiw_2_2x.webp" 
                alt="folder" 
                sizes="(min-width: 1280px) 250px,(min-width: 834px) 160px, 100px">
                <h3>Create Collection</h3>
                <p>Upload your work and setup your collection. Add a description, social links and floor price.</p>
            </li>
            <li class="hiw-card animated-element animation-scale">
                <img 
                class="hiw-img" 
                srcset="./img/homepage/hiw_3_1x.webp 250w,
                        ./img/homepage/hiw_3_2x.webp 500w"
                src="./img/homepage/hiw_3_2x.webp" 
                alt="basket" 
                sizes="(min-width: 1280px) 250px,(min-width: 834px) 160px, 100px">
                <h3>Start Earning</h3>
                <p>Choose between auctions and fixed-price listings. Start earning by selling your NFTs or trading others.</p>
            </li>
        </ul>
    </div>
</section>
<section class="section subwid">
    <div class="container">
        <div class="subwid-content animated-element animation-scale">
            <img 
                class="subwid-img"
                srcset="./img/homepage/hp_how_mobile_1x.webp 330px,
                        ./img/homepage/hp_how_mobile_2x.webp 660px,
                        ./img/homepage/hp_how_tablet_1x.webp 300px,
                        ./img/homepage/hp_how_tablet_2x.webp 600px,
                        ./img/homepage/hp_how_1x.webp 425px,
                        ./img/homepage/hp_how_2x.webp 850px" 
                alt="astronaft" 
                src="./img/homepage/hp_how_1x.webp"
                sizes="(min-width: 1280px) 425px, (min-width: 834px) 300px, 315px">
            <form class="subwid-form">
                <h2 class="heading">Join our weekly digest</h2>
                <p class="under-heading">Get exclusive promotions & updates straight to your inbox.</p>
                <input type="email" placeholder="Enter Your Email hehe">
                <button>
                    <svg>
                        <use href="./img/icons.svg#icon-EnvelopeSimple"></use>
                    </svg>    
                    Subscribe
                </button>
            </form>
        </div>
    </div>
</section>
<script src="./js/timer.js"></script>