<section class="section">
  <div class="container discr-wrapper">
    <div class="wrapper-title">
      <h1 class="discr-title animated-element animation-up">
        Discover digital art & Collect NFTs
      </h1>
      <p class="discr-text animated-element animation-left">
        NFT marketplace UI created with Anima for Figma. Collect, buy and sell
        art from more than 20k NFT artists.
      </p>
    </div>

    <div class="wrapper-space-img animated-element animation-scale">
      <img
        class="discr-img-space"
        src="./img/homepage/hp_hero_space_walking_1x.webp"
        srcset="
          ./img/homepage/hp_hero_space_walking_1x.webp 1x,
          ./img/homepage/hp_hero_space_walking_2x.webp 2x
        "
        alt="space"
        loading="lazy"
      />
      <div class="space-wrapper">
        <p class="discr-space-text">Space Walking</p>
        <div class="artist-wrapper">
          <img
            class="discr-img-artist"
            src="./img/homepage/hp_top_creators_10_1x.webp"
            srcset="
              ./img/homepage/hp_top_creators_10_1x.webp 1x,
              ./img/homepage/hp_top_creators_10_2x.webp 2x
            "
            alt="artist 14"
            width="24"
            height="24"
          />
          <p class="discr-text-artist">Animakid</p>
        </div>
      </div>
    </div>

    <a class="discr-btn" href="./create-account.html" aria-label="link to login"
      ><svg class="icon-launch-rocket" width="20" height="20">
        <use href="./img/icons.svg#icon-RocketLaunch"></use>
      </svg>
      Get Started
    </a>

    <ul class="discr-list animated-element animation-up">
      <li class="discr-item">
        <p class="discr-text-number">240k+</p>
        <p class="discr-text-list">Total Sale</p>
      </li>
      <li class="discr-item">
        <p class="discr-text-number">100k+</p>
        <p class="discr-text-list">Auctions</p>
      </li>
      <li class="discr-item">
        <p class="discr-text-number">240k+</p>
        <p class="discr-text-list">Artists</p>
      </li>
    </ul>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="trendcall-title animated-element animation-up">
      Trending Collection
    </h2>
    <p class="trendcall-text animated-element animation-up">
      Checkout our weekly updated trending collection.
    </p>
    <ul class="trendcall-list">
      <li class="trendcall-item animated-element animation-scale">
        <img
          srcset="
            ./img/homepage/hp_trending_coll_01_1x.webp 1x,
            ./img/homepage/hp_trending_coll_01_2x.webp 2x
          "
          src="./img/homepage/hp_trending_coll_01_1x.webp"
          alt="dog"
          class="item-img"
        />
        <div class="wrapper-img">
          <img
            srcset="
              ./img/homepage/hp_trending_coll_04_1x.webp 1x,
              ./img/homepage/hp_trending_coll_04_2x.webp 2x
            "
            src="./img/homepage/hp_trending_coll_04_1x.webp"
            alt="cat"
            class="item-img"
          />
          <img
            srcset="
              ./img/homepage/hp_trending_coll_05_1x.webp 1x,
              ./img/homepage/hp_trending_coll_05_2x.webp 2x
            "
            src="./img/homepage/hp_trending_coll_05_1x.webp"
            alt="bear"
            class="item-img"
          />
          <a href="./marketplace.html" class="item-link">1025+</a>
        </div>
        <div>
          <h3 class="about-img-title">DSGN Animals</h3>
          <div class="wrapper-artist-name">
            <img
              class="atrist-img"
              srcset="
                ./img/marketplace/mp_card-ava_04_1x.webp 1x,
                ./img/marketplace/mp_card-ava_04_2x.webp 2x
              "
              src="./img/marketplace/mp_card-ava_04_1x.webp"
              alt="fox"
            />
            <p class="artist-name">MrFox</p>
          </div>
        </div>
      </li>
      <li
        class="trendcall-item card-mushrooms animated-element animation-scale"
      >
        <img
          srcset="
            ./img/homepage/hp_trending_coll_02_1x.webp 1x,
            ./img/homepage/hp_trending_coll_02_2x.webp 2x
          "
          src="./img/homepage/hp_trending_coll_02_1x.webp"
          alt="mushrooms"
          class="item-img"
        />
        <div class="wrapper-img">
          <img
            srcset="
              ./img/homepage/hp_trending_coll_06_1x.webp 1x,
              ./img/homepage/hp_trending_coll_06_2x.webp 2x
            "
            src="./img/homepage/hp_trending_coll_06_1x.webp"
            alt="mushroom"
            class="item-img"
          />
          <img
            srcset="
              ./img/homepage/hp_trending_coll_07_1x.webp 1x,
              ./img/homepage/hp_trending_coll_07_2x.webp 2x
            "
            src="./img/homepage/hp_trending_coll_07_1x.webp"
            alt="mushroom"
            class="item-img"
          />
          <a href="./marketplace.html" class="item-link">1025+</a>
        </div>
        <div>
          <h3 class="about-img-title">Magic Mushrooms</h3>
          <div class="wrapper-artist-name">
            <img
              class="atrist-img"
              srcset="
                ./img/marketplace/mp_card-ava_01_1x.webp 1x,
                ./img/marketplace/mp_card-ava_01_2x.webp 2x
              "
              src="./img/marketplace/mp_card-ava_01_1x.webp"
              alt="avatar"
            />
            <p class="artist-name">Shroomie</p>
          </div>
        </div>
      </li>
      <li class="trendcall-item card-machines animated-element animation-scale">
        <img
          srcset="
            ./img/homepage/hp_trending_coll_03_1x.webp 1x,
            ./img/homepage/hp_trending_coll_03_2x.webp 2x
          "
          src="./img/homepage/hp_trending_coll_03_1x.webp"
          alt="machines"
          class="item-img"
        />
        <div class="wrapper-img">
          <img
            srcset="
              ./img/homepage/hp_trending_coll_08_1x.webp 1x,
              ./img/homepage/hp_trending_coll_08_2x.webp 2x
            "
            src="./img/homepage/hp_trending_coll_08_1x.webp"
            alt="machines"
            class="item-img"
          />
          <img
            srcset="
              ./img/homepage/hp_trending_coll_09_1x.webp 1x,
              ./img/homepage/hp_trending_coll_09_2x.webp 2x
            "
            src="./img/homepage/hp_trending_coll_09_1x.webp"
            alt="machines"
            class="item-img"
          />
          <a href="./marketplace.html" class="item-link">1025+</a>
        </div>
        <div>
          <h3 class="about-img-title">Disco Machines</h3>
          <div class="wrapper-artist-name">
            <img
              class="atrist-img"
              srcset="
                ./img/marketplace/mp_card-ava_02_1x.webp 1x,
                ./img/marketplace/mp_card-ava_02_2x.webp 2x
              "
              src="./img/marketplace/mp_card-ava_02_1x.webp"
              alt="bambelbee"
            />
            <p class="artist-name">BeKind2Robots</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="section">
  <div class="container wrapper-creators">
    <h2 class="creators-title animated-element animation-left">Top creators</h2>
    <p class="creators-text animated-element animation-up">
      Checkout Top Rated Creators on the NFT Marketplace
    </p>

    <ul class="creators-list">
      <li class="creators-item animated-element animation-scale">
        <a href="./artist-page.html">
          <p class="list-number">1</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_01_1x.webp 1x,
              ./img/homepage/hp_top_creators_01_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_01_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">Keepitreal</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div>
        </a>
      </li>
      <li class="creators-item animated-element animation-scale">
        <a href="./artist-page.html">
          <p class="list-number">2</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_02_1x.webp 1x,
              ./img/homepage/hp_top_creators_02_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_02_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">DigiLab</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div>
        </a>
      </li>
      <li class="creators-item animated-element animation-scale">
        <a href="./artist-page.html">
          <p class="list-number">3</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_03_1x.webp 1x,
              ./img/homepage/hp_top_creators_03_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_03_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">GravityOne</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div>
        </a>
      </li>
      <li class="creators-item animated-element animation-scale">
        <a href="./artist-page.html">
          <p class="list-number">4</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_04_1x.webp 1x,
              ./img/homepage/hp_top_creators_04_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_04_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">Juanie</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div>
        </a>
      </li>
      <li class="creators-item animated-element animation-scale">
        <a href="./artist-page.html">
          <p class="list-number">5</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_05_1x.webp 1x,
              ./img/homepage/hp_top_creators_05_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_05_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">BlueWhale</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div>
        </a>
      </li>
      <li class="creators-item hide-mob animated-element animation-scale">
        <a href="./artist-page.html">
          <p class="list-number">6</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_06_1x.webp 1x,
              ./img/homepage/hp_top_creators_06_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_06_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">mr fox</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div></a
        >
      </li>
      <li class="creators-item hide-tablet animated-element animation-scale">
        <a href="./arist-page.html">
          <p class="list-number">7</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_07_1x.webp 1x,
              ./img/homepage/hp_top_creators_07_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_07_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">Shroomie</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div></a
        >
      </li>
      <li class="creators-item hide-tablet animated-element animation-scale">
        <a href="./arist-page.html">
          <p class="list-number">8</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_08_1x.webp 1x,
              ./img/homepage/hp_top_creators_08_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_08_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">robotica</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div></a
        >
      </li>
      <li class="creators-item hide-tablet animated-element animation-scale">
        <a href="./arist-page.html">
          <p class="list-number">9</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_09_1x.webp 1x,
              ./img/homepage/hp_top_creators_09_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_09_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">RustyRobot</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div></a
        >
      </li>
      <li class="creators-item hide-tablet animated-element animation-scale">
        <a href="./arist-page.html">
          <p class="list-number">10</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_10_1x.webp 1x,
              ./img/homepage/hp_top_creators_10_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_10_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">animakid</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div></a
        >
      </li>
      <li class="creators-item hide-tablet animated-element animation-scale">
        <a href="./arist-page.html">
          <p class="list-number">11</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_11_1x.webp 1x,
              ./img/homepage/hp_top_creators_11_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_11_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">Dotgu</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div></a
        >
      </li>
      <li class="creators-item hide-tablet animated-element animation-scale">
        <a href="./arist-page.html">
          <p class="list-number">12</p>
          <img
            srcset="
              ./img/homepage/hp_top_creators_12_1x.webp 1x,
              ./img/homepage/hp_top_creators_12_2x.webp 2x
            "
            src="./img/homepage/hp_top_creators_12_1x.webp"
            alt="creators"
            class="creators-img"
          />
          <div>
            <p class="creators-name">Ghiblier</p>
            <p class="total-sales">
              Total Sales: <span class="sales-number">34.53 ETH</span>
            </p>
          </div></a
        >
      </li>
    </ul>
    <a href="./rankings.html" class="btn-view-rankings"
      ><svg class="rocket-launch-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-RocketLaunch"></use>
      </svg>
      View Rankings
    </a>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="categories-title">Browse Categories</h2>

    <ul class="categories-list">
      <li class="categories-item animated-element animation-up">
        <a href="./marketplace.html">
          <img
            srcset="
              ./img/homepage/hp_browse_art_1x.webp 1x,
              ./img/homepage/hp_browse_art_2x.webp 2x
            "
            src="./img/homepage/hp_browse_art_1x.webp"
            alt="art"
            class="categories-img"
          />
          <div class="wrapper-icon">
            <svg class="categories-icon" width="80" height="80">
              <use href="./img/icons.svg#icon-PaintBrush"></use>
            </svg>
          </div>
          <p class="categories-text">Art</p></a
        >
      </li>
      <li class="categories-item animated-element animation-up">
        <a href="./marketplace.html">
          <img
            srcset="
              ./img/homepage/hp_browse_collectibles_1x.webp 1x,
              ./img/homepage/hp_browse_collectibles_2x.webp 2x
            "
            src="./img/homepage/hp_browse_collectibles_1x.webp"
            alt="Collectibles"
            class="categories-img"
          />
          <div class="wrapper-icon">
            <svg class="categories-icon" width="80" height="80">
              <use href="./img/icons.svg#icon-Swatches"></use>
            </svg>
          </div>
          <p class="categories-text">Collectibles</p></a
        >
      </li>
      <li class="categories-item animated-element animation-up">
        <a href="./marketplace.html">
          <img
            srcset="
              ./img/homepage/hp_browse_music_1x.webp 1x,
              ./img/homepage/hp_browse_music_2x.webp 2x
            "
            src="./img/homepage/hp_browse_music_1x.webp"
            alt="Music"
            class="categories-img"
          />
          <div class="wrapper-icon">
            <svg class="categories-icon" width="80" height="80">
              <use href="./img/icons.svg#icon-MusicNotes"></use>
            </svg>
          </div>
          <p class="categories-text">Music</p></a
        >
      </li>
      <li class="categories-item animated-element animation-up">
        <a href="./marketplace.html">
          <img
            srcset="
              ./img/homepage/hp_browse_photography_1x.webp 1x,
              ./img/homepage/hp_browse_photography_2x.webp 2x
            "
            src="./img/homepage/hp_browse_photography_1x.webp"
            alt="Photography"
            class="categories-img"
          />
          <div class="wrapper-icon">
            <svg class="categories-icon" width="80" height="80">
              <use href="./img/icons.svg#icon-Camera"></use>
            </svg>
          </div>
          <p class="categories-text">Photography</p>
        </a>
      </li>
      <li class="categories-item animated-element animation-up">
        <a href="./marketplace.html">
          <img
            srcset="
              ./img/homepage/hp_browse_video_1x.webp 1x,
              ./img/homepage/hp_browse_video_2x.webp 2x
            "
            src="./img/homepage/hp_browse_video_1x.webp"
            alt="Video"
            class="categories-img"
          />
          <div class="wrapper-icon">
            <svg class="categories-icon" width="80" height="80">
              <use href="./img/icons.svg#icon-VideoCamera"></use>
            </svg>
          </div>
          <p class="categories-text">Video</p></a
        >
      </li>
      <li class="categories-item animated-element animation-up">
        <a href="./marketplace.html">
          <img
            srcset="
              ./img/homepage/hp_browse_utility_1x.webp 1x,
              ./img/homepage/hp_browse_utility_2x.webp 2x
            "
            src="./img/homepage/hp_browse_utility_1x.webp"
            alt="Utility"
            class="categories-img"
          />
          <div class="wrapper-icon">
            <svg class="categories-icon" width="80" height="80">
              <use href="./img/icons.svg#icon-MagicWand"></use>
            </svg>
          </div>
          <p class="categories-text">Utility</p></a
        >
      </li>
      <li class="categories-item animated-element animation-up">
        <a href="./marketplace.html">
          <img
            srcset="
              ./img/homepage/hp_browse_sport_1x.webp 1x,
              ./img/homepage/hp_browse_sport_2x.webp 2x
            "
            src="./img/homepage/hp_browse_sport_1x.webp"
            alt="Sport"
            class="categories-img"
          />
          <div class="wrapper-icon">
            <svg class="categories-icon" width="80" height="80">
              <use href="./img/icons.svg#icon-Basketball"></use>
            </svg>
          </div>
          <p class="categories-text">Sport</p></a
        >
      </li>
      <li class="categories-item animated-element animation-up">
        <a href="./marketplace.html">
          <img
            srcset="
              ./img/homepage/hp_browse_virtual_w_1x.webp 1x,
              ./img/homepage/hp_browse_virtual_w_2x.webp 2x
            "
            src="./img/homepage/hp_browse_virtual_w_1x.webp"
            alt="Virtual Worlds"
            class="categories-img"
          />
          <div class="wrapper-icon">
            <svg class="categories-icon" width="80" height="80">
              <use href="./img/icons.svg#icon-Planet"></use>
            </svg>
          </div>
          <p class="categories-text">Virtual Worlds</p></a
        >
      </li>
    </ul>
  </div>
</section>
