<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dff-nft-project</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/nft-page.css" />
  </head>
  <body>
    <load ="./header.html" />

    <main>
      <section class="nft">
        <div class="container">
          <div class="nft-image"></div>
          <div class="nft-info">
            <div class="nft-title-box">
              <h1 class="">The Orbitians</h1>
              <p>Minted on Sep 30, 2022</p>
            </div>
            <div class="timer">
              <div>
                <p>Auction ends in:</p>
                <div class="timer-box"><span>59</span> <span>Hours</span></div>
                <div class="timer-box">
                  <span>59</span> <span>Minutes</span>
                </div>
                <div class="timer-box">
                  <span>59</span> <span>Seconds</span>
                </div>
              </div>
              <button type="button">Place Bid</button>
            </div>
            <div class="nft-created-by">
              <p>Created by</p>
              <a href="#"><img src="" alt="Author avatar" />Orbitian</a>
            </div>
            <div>
              Description
              <pre>
The Orbitians
is a collection of 10,000 unique NFTs on
the Ethereum blockchain,

There are all sorts of beings in the NFT
Universe. The most advanced and
friendly of the bunch are Orbitians. 
                
They live in a metal space machines, 
high up in the sky and only have one foot on Earth.
These Orbitians are a peaceful race, but 
they have been at war with a group of 
invaders for many generations. The 
invaders are called Upside-Downs, 
because of their inverted bodies that 
live on the ground, yet do not know any 
other way to be. Upside-Downs believe 
that they will be able to win this war if 
they could only get an eye into Orbitian 
territory, so they've taken to make
human beings their target.
              </pre>
            </div>
            <div>
              <p>Details</p>
              <ul>
                <li>
                  <svg class="icon-globe" width="24" height="24">
                    <use href="../img/icons.svg#icon-Globe"></use>
                  </svg>
                  View on Etherscan
                </li>
                <li>
                  <svg class="icon-globe" width="24" height="24">
                    <use href="../img/icons.svg#icon-Globe"></use>
                  </svg>
                  View on Original
                </li>
              </ul>
            </div>
            <div>
              <p>Tags</p>
              <ul>
                <li><a href="#">Animation</a></li>
                <li><a href="#">Illustration</a></li>
                <li><a href="#">Moon</a></li>
                <li><a href="#">Moon</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    <load ="./footer.html" />
    <script type="module" src="../main.js"></script>
  </body>
</html>
