<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rankings</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <load ="header.html" />

    <!-- Write your code here -->
    <section class="section top-creators">
      <div class="container">
        <h1>Top Creators</h1>
        <p>Check out top ranking NFT artists on the NFT Marketplace.</p>
      </div>
    </section>

    <section class="section rankings-section">
      <div class="container">
        <div class="filter"></div>
        <a href="#" class="filter-link filter-link-active" data-filter="">Today</a>
        <a href="#" class="filter-link" data-filter="">This Week</a>
        <a href="#" class="filter-link" data-filter="">This Month</a>
        <a href="#" class="filter-link" data-filter="">All Time</a>
        <div class="table-header">
            <span>&#35;</span>
            <p>Artist</p>
            <p>Change</p>
            <p>NFTs Sold</p>
            <p>Volume</p>
        </div>
        <ol class="rankings-list">
          <li class="rankings-item">
            <p class="rank-number">1</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Jaydon Ekstrom Bothman</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">2</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Ruben Carder</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">3</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Alfredo Septimus</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">4</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Davis Franci</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">5</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Livia Rosser</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">6</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Kianna Donin</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">7</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Phillip Lipshutz</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">8</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Maria Rosser</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">9</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Kianna Stanton</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">10</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Angel Lubin</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">11</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Allison Torff</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">12</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Davis Workman</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">13</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Lindsey Lipshutz</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">14</p>
            <img src="" alt="" />
            <a class="creator-name" href="">Randy Carder</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">15</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Lydia Culhane</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">16</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Rayna Bator</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">17</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Jocelyn Westervelt</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">18</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Marilyn Torff</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">19</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Skylar Levin</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
          <li class="rankings-item">
            <p class="rank-number">20</p>
            <img class="creator-avatar" src="" alt="" />
            <a class="creator-name" href="">Terry Dorwart</a>
            <p class="change-value">+1.41%</p>
            <p class="amount-sold">602</p>
            <p class="volume">12.4 ETH</p>
          </li>
        </ol>
      </div>
    </section>

    <load ="footer.html" />
  </body>
</html>
