<div class="timer">
  <div>
    <p>Auction ends in:</p>
    <div class="timer-field">
      <span class="timer-value">59</span>
      <span class="timer-units">Hours</span>
    </div>
    <div class="timer-field">
      <span class="timer-value">59</span>
      <span class="timer-units">Minutes</span>
    </div>
    <div class="timer-field">
      <span class="timer-value">59</span>

      <span class="timer-units">Seconds</span>
    </div>
  </div>
  <button type="button" class="timer-btn">Place Bid</button>
</div>
