@import './styles.css';
@import './timer.css';

/* Header */
.header {
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 20px 0;
    }
}

header .container {
    padding: 0 30px;
}

@media screen and (min-width: 768px) {
    header .container {
        max-width: 768px;
        padding: 0 50px;
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    header .container {
            min-width: 1280px;
        }
}


@media screen and (min-width: 1280px) {
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-menu-list {
    display: none;
}

@media screen and (min-width: 1280px) {
    .header-menu-list {
        display: flex;
        flex-shrink: 0;
        gap: 40px;
    }
}

.header-logo-link {
    display: flex;
    margin-right: auto;
    gap: 12px;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width: 1280px) {
    .header-logo-link {
        display: flex;
        margin-right: auto;
        gap: 12px;
    }
}

.header-menu-link {
    color: var(--text);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    transition: color 250ms ease-in-out;
    text-transform: initial;
}
.header-menu-item {
    transition: transform 250ms ease-in-out;
}

.header-menu-item:hover .header-menu-link {
    color:var(--cta)
}


.header-menu-item:hover {
    color:var(--cta);
    transform: scale(1.1);
}


.header-menu-list {
    margin-right: 30px;
}

.header-logo-icon {
    fill: var(--cta);
}

.header-nft-icon {
    fill: var(--text);
}



.btn-sign-up:hover {
    background-color: transparent;
    border: 2px solid var(--cta);
    transform: scale(1.1);
}



.btn-sign-up {
    display: none;
    transition: transform 250ms ease-in-out,background-color 250ms ease-in-out,border 250ms ease-in-out;
    border: 2px solid transparent;

}

.btn-sign-up.modal {
    display: flex;
    height: 60px;
    width: 158px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border-color: var(--text);
    background-color: transparent;
}

.btn-sign-up.modal:hover {
    background-color: var(--cta);
    border-color:var(--cta);
}

@media screen and (min-width: 1280px) {
    .btn-sign-up {
        display: flex;
        height: 60px;
        width: 156px;
        padding: 0px 30px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        background: var(--cta);
    }
}

.icon-user {
    fill: var(--text);
}

.sign-up-text {
    color: var(--text);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    transition: color 200ms ease-in-out;
}

.menu-btn,
.menu-close-btn {
    background-color: transparent;
    border: none;
}

.menu-close-btn:hover .menu-close-icon {
    fill: var(--cta);

}

/* Mobile Menu */

.menu-btn-icon {
    fill: var(--text);
}

@media screen and (min-width: 1280px) {
    .menu-btn {
        display: none;
    }
}

.menu-close-icon {
    transform: rotate(45deg);
    fill: var(--text);
        transition: fill 300ms ease-in-out;
}

.close-btn {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 52px;
}

@media screen and (min-width: 768px) {
    .close-btn {
        padding-bottom: 163px;
    }
}


.mobile-menu {
    z-index: 888;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: 300px;
    height: 100%;
    flex-shrink: 0;
    flex-direction: column;
    transition: transform 300ms ease, visibility 300ms ease;
    background: linear-gradient(180deg, rgba(114, 39, 209, 0.20) 0%, rgba(152, 143, 111, 0.10) 48.5%, rgba(217, 217, 217, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.5px);
    visibility: hidden;
    transition: opasity 200ms ease-in-out, visibility 200ms ease-in-out, transform 200ms ease-in-out;
    transform: translateX(100%);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);

}

@media screen and (min-width: 768px) {
    .mobile-menu {
        width: 360px;
    }
}

@media screen and (min-width: 1280px) {
    .mobile-menu {
        display: none;
    }
}

.icon-modal {
    fill: var(--text);
    transition: fill 200ms ease-in-out;
}

.mob-menu {
    display: flex;
    padding-left: 45px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.mobile-menu-link {
    display: flex;
    align-items: center;
    gap: 14px;
    transition: transform 200ms ease-in-out;
}



.mobile-menu-link:hover {
    transform: scaleX(1.05);
}

.mobile-menu-link:hover .icon-modal {
    fill: var(--cta);
}



.btn-modal {
    padding-left: 40px;
    padding-top: 133px;
}

@media screen and (min-width: 768px) {
    .btn-modal {
        padding-left: 40px;
        padding-top: 143px;
    }
}


/* Scroll up button */
.scroll-up-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 22px;
    z-index: 99;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.30);
    background: transparent;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
}

.scroll-up-icon {
    fill: currentColor;
    transition: color 250ms ease-in-out;
}

.scroll-up-btn:hover {
    color: var(--cta);
}