pre {
  font-family: inherit;
}

body {
  text-transform: none;
}

.nft-title-box {
  line-height: 140%;
}

.nft-title-box h1 {
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}

.nft-title-box p {
  color: var(--caption-lable);

  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
