@import './styles.css';
@import './timer.css';

/* NFT section */

pre {
  font-family: inherit;
  margin: 0;
}

body {
  text-transform: none;
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 22px;
  }
}

.nft .container {
  padding-top: 40px;
}

.nft::before {
  content: '';
  display: block;

  height: 320px;
  max-width: 1280px;

  margin: 0 auto;

  background-image: url(../img/nft-page/nft-page_hero_mobile_1x.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-resolution: 192dpi) {
  .nft::before {
    background-image: url(../img/nft-page/nft-page_hero_mobile_2x.webp);
  }
}

@media screen and (min-width: 834px) {
  .nft::before {
    height: 420px;
    background-image: url(../img/nft-page/nft-page_hero_tablet_1x.webp);
  }
}

@media screen and (min-width: 834px) and (min-resolution: 192dpi) {
  .nft::before {
    background-image: url(../img/nft-page/nft-page_hero_tablet_2x.webp);
  }
}

@media screen and (min-width: 1280px) {
  .nft::before {
    height: 560px;

    background-image: url(../img/nft-page/nft-page_hero_1x.webp);
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .nft::before {
    background-image: url(../img/nft-page/nft-page_hero_2x.webp);
  }
}

.nft-title-box * {
  line-height: 140%;
}

.nft-info {
  position: relative;
}

@media screen and (min-width: 834px) {
  .nft-info .timer {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.timer-btn {
  transition: transform 250ms ease-in-out;
  outline: transparent;
}

.timer-btn:hover,
.timer-btn:focus-visible {
  transform: scale(1.05);
}

.nft-title-box h1 {
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}

@media screen and (min-width: 834px) {
  .nft-title-box h1 {
    font-size: 38px;
    line-height: 120%;
  }
}

@media screen and (min-width: 834px) {
  .nft-title-box h1 {
    font-size: 51px;
    line-height: 110%;
  }
}

.nft-title-box > p {
  margin-top: 10px;
  color: var(--caption-label);
}

@media screen and (min-width: 1280px) {
  .nft-title-box > p {
    font-size: 22px;

    line-height: 160%;
  }
}

@media screen and (min-width: 1280px) {
  .nft-info-box > p {
    font-size: 22px;

    line-height: 160%;
  }
}

.description {
  max-width: 315px;
}

@media screen and (min-width: 834px) {
  .description {
    max-width: 365px;
  }
}

@media screen and (min-width: 1280px) {
  .description {
    max-width: 605px;
  }
}

.description .part:not(:first-of-type) {
  margin-top: 34px;
}

.nft-info-box {
  margin-top: 20px;
}

@media screen and (min-width: 834px) {
  .nft-info-box {
    margin-top: 30px;
  }
}

.nft-info-box * {
  line-height: 140%;
}

.nft-info-box > p {
  margin-bottom: 10px;

  font-family: 'Space Mono';
  color: var(--caption-label);

  text-transform: capitalize;
}

.nft-info-link {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon-globe {
  fill: var(--caption-label);

  transition: fill 250ms ease-in-out;
}

.nft-info-link:hover .icon-globe,
.nft-info-link:focus-visible .icon-globe {
  fill: var(--cta);
}

.details-item:not(:last-child) {
  margin-bottom: 12px;
}

@media screen and (min-width: 1280px) {
  .tags-list {
    font-size: initial;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.tags-text {
  margin-bottom: 0;
}

.tags-list li {
  margin-top: 20px;
  text-transform: uppercase;
}

.tags-link {
  text-align: center;
  background-color: var(--bg-secondary);

  font-weight: 600;
  min-width: 110px;
  border-radius: 20px;
  display: inline-block;
  padding: 12px 30px;

  transition: all 250ms ease-in-out;
  outline: transparent;
}

.tags-link:hover,
.tags-link:focus-visible {
  transform: scale(1.05);
  background-color: var(--cta);
}

/* Collection section */

.collection {
  text-transform: capitalize;
}

.collection .wrapper {
  position: relative;
}

.collection * {
  line-height: 140%;
}

.collection .section-title {
  font-size: 28px;
  font-weight: 600;
}

@media screen and (min-width: 1280px) {
  .collection .section-title {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
  }
}

.collection-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-top: 30px;
  text-align: left;
}

@media screen and (min-width: 834px) {
  .collection-list {
    margin-top: 80px;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 834px) {
  .collection-list {
    margin-top: 80px;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .collection-list * {
    font-size: initial;
  }
}

.collection-list li {
  display: none;
}

.collection-list .card {
  display: block;
  border-radius: 20px;
  overflow: hidden;

  transition: all 250ms ease-in-out;
  outline: transparent;
}

.collection-list .card:hover,
.collection-list .card:focus {
  transform: scale(1.03);
  box-shadow: 0px 4px 16px 2px black;
}

.collection-list li:nth-child(1),
.collection-list li:nth-child(2) {
  display: block;
}

@media screen and (min-width: 834px) {
  .collection-list li {
    flex-basis: calc((100% - 30px) / 2);
  }

  .collection-list li:nth-child(3),
  .collection-list li:nth-child(4),
  .collection-list li:nth-child(5),
  .collection-list li:nth-child(6) {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .collection-list li {
    flex-basis: calc((100% - 30px) / 3);
    max-width: 330px;
  }

  .collection-list li:nth-child(3),
  .collection-list li:nth-child(4),
  .collection-list li:nth-child(5),
  .collection-list li:nth-child(6),
  .collection-list li:nth-child(7),
  .collection-list li:nth-child(8),
  .collection-list li:nth-child(9) {
    display: block;
  }
}

.card-body {
  padding: 20px 30px 25px;
  font-family: 'Space Mono';

  background-color: var(--bg-secondary);
}

.card-heading {
  font-size: 22px;
  font-weight: 600;

  font-family: 'Work Sans';
}

.card .nft-info-link {
  margin-top: 5px;
}

.card-list {
  display: flex;
  justify-content: space-between;

  margin-top: 25px;

  font-size: 16px;
}

.card-list .item {
  flex-shrink: 0;
  flex-grow: 1;
}

.card-list .item:last-child {
  text-align: right;
}

.card-list .item-title {
  margin-bottom: 8px;

  color: var(--caption-label);

  font-size: 12px;
  line-height: 110%;
}

.card-list .value {
  font-size: 12px;
}

.btn-load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  margin-top: 30px;
  padding: 17px 50px;

  border-radius: 20px;
  border: 2px solid var(--cta);

  font-weight: 600;

  transition: all 250ms ease-in-out;
  outline: transparent;
}

@media screen and (min-width: 834px) {
  .btn-load-more {
    font-size: 16px;
    min-width: 267px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.btn-load-more:hover,
.btn-load-more:focus-visible {
  background-color: var(--cta);
  transform: scale(1.05);
}

.btn-load-more .icon-arrow {
  fill: var(--cta);

  transition: fill 250ms ease-in-out;
}

.btn-load-more:hover .icon-arrow,
.btn-load-more:focus-visible .icon-arrow {
  fill: var(--text);
}

.timer {
  opacity: 0;
  transform: translateX(100px);
}
