@import url(./styles.css);

.section {}

.top-creators {

}

.page-title {
    margin-bottom: 20px;
    font-size: 51px;
    font-weight: 600;
    line-height: 1.1;
    text-transform: capitalize;
}

.page-title-text {}

.rankings-section {
    margin-bottom: 40px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.filter-link {
    position: relative;
    display: block;
    text-align: center;
    padding: 15px 30px;
    width: calc(100%/4);
    color: var(--caption-label);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    text-transform: capitalize;
}

.filter-link-active {
    color: var(--text);
}

.filter-link-active::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--caption-label);
}

.table-header {
    display: flex;
    margin-bottom: 20px;
    padding: 12px 20px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--bg-secondary);
}

.number {
    text-align: center;
    width: 30px;
    margin-right: 20px;
    color: var(--caption-label);
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 1.4;
}

.artist {
    margin-right: 381px;
    color: var(--caption-label-text);
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 1.4;
}

.change {
    width: 160px;
    margin-right: 20px;
    color: var(--caption-label);
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 1.4;
}

.nft-sold {
    width: 160px;
    margin-right: 20px;
    color: var(--caption-label);
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 1.4;
}

.volume {
    width: 160px;
    color: var(--caption-label);
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 1.4;

}

.rankings-list {}

.rankings-item {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    border-radius: 20px;
    background: var(--Background---Secondary, #3B3B3B);
}

.rankings-item:not(:last-child) {
    margin-bottom: 20px;
}

.rank-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
    border-radius: 20px;
    background: var(--bg);
    color: var(--caption-label);
    font-family: "Space Mono";
    font-size: 16px;
    line-height: 1.4;
}

.creator-avatar {
    margin-right: 20px;
}

.creator-name {
    width: 300px;
    margin-right: 60px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
}

.change-value {
    width: 160px;
    margin-right: 20px;
    color: #00AC4F;
    font-family: "Space Mono";
    font-size: 16px;
    line-height: 1.4;
}

.amount-sold {
    width: 160px;
    margin-right: 20px;
    color: var(--text);
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 140%;
}

.volume-amount {
    width: 160px;
    color: var(--text);
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 1.4;
}