@import url(./styles.css);


@media only screen and (max-width: 833.98px) {
    .top-creators {
        padding: 30px 0;
    }
}

.page-title {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    text-transform: capitalize;
}

@media only screen and (min-width: 834px) {
    .page-title {
        margin-bottom: 20px;
        font-size: 38px;
        line-height: 1.2;
    }
}

@media only screen and (min-width: 1280px) {
    .page-title {
        font-size: 51px;
        line-height: 1.1;
    }
}

@media only screen and (max-width: 1279.98px) {
    .page-subtitle {
        line-height: 1.4;
    }
}

.rankings-section {
    margin-bottom: 40px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

@media only screen and (max-width: 833.98px) {
    .filter {
        display: none;
    }
}

.filter-link {
    position: relative;
    display: block;
    text-align: center;
    padding: 19px 0;
    width: calc(100%/4);
    color: var(--caption-lable);
    font-weight: 600;
    line-height: 1.4;
    text-transform: capitalize;
    transition: color 300ms ease-in-out;
}

@media only screen and (min-width: 1280px) {
    .filter-link {
        padding: 15px 0;
        font-size: 22px;
    }
}

.filter-link-active {
    color: var(--text);
}

.filter-link-active::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--caption-lable);
}

.filter-mobile {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

@media only screen and (min-width: 833.98px) {
    .filter-mobile {
        display: none;
    }
}

.table-header {
    display: flex;
    margin-bottom: 20px;
    padding: 12px 10px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--bg-secondary);
}

@media only screen and (min-width: 834px) {
    .table-header {
        padding: 12px 20px;
    }
}

.number {
    text-align: center;
    width: 24px;
    margin-right: 10px;
    color: var(--caption-lable);
    font-family: "Space Mono";
    font-size: 16px;
    line-height: 1.4;
}

@media only screen and (min-width: 834px) {
    .number {
        width: 30px;
        margin-right: 20px;
    }
}

.artist {
    min-width: 181px;
    color: var(--caption-lable);
    font-family: "Space Mono";
    font-size: 12px;
    line-height: 1.1;
}

@media only screen and (min-width: 834px) {
    .artist {
        min-width: 59px;
        margin-right: 321px;
        color: var(--caption-lable);
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 1.4;
    }
}

@media only screen and (min-width: 1280px) {
    .artist {
        margin-right: 381px;
    }
}

@media only screen and (max-width: 833.98px) {
    .change {
        display: none;
    }
}

@media only screen and (min-width: 834px) {
    .change {
        width: 100px;
        margin-right: 20px;
        color: var(--caption-lable);
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 1.4;
    }
}

@media only screen and (min-width: 1280px) {
    .change {
        width: 160px;
    }
}

.nft-sold {
    width: 160px;
    margin-right: 20px;
    color: var(--caption-lable);
    font-family: "Space Mono";
    font-size: 16px;
    line-height: 1.4;
}

@media only screen and (max-width: 1279.98px) {
    .nft-sold {
        display: none;
    }
}

.volume {
    width: 100px;
    color: var(--caption-lable);
    font-family: "Space Mono";
    font-size: 12px;
    line-height: 1.1;
}

@media only screen and (min-width: 834px) {
    .volume {
        font-size: 16px;
        line-height: 1.4;
    }
}

@media only screen and (min-width: 1280px) {
    .volume {
        width: 160px;
    }
}

.rankings-item {
    display: flex;
    padding: 0 10px;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-secondary);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

@media only screen and (min-width: 834px) {
    .rankings-item {
        padding: 0 20px;
    }
}

.rankings-item:not(:last-child) {
    margin-bottom: 20px;
}

.rank-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 10px;
    color: var(--caption-lable);
    font-family: "Space Mono";
    font-size: 12px;
    line-height: 1.1;
}

@media only screen and (min-width: 834px) {
    .rank-number {
        margin-right: 20px;
        font-size: 16px;
        line-height: 1.4;
    }
}

@media only screen and (min-width: 1280px) {
    .rank-number {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--bg);
    }
}

.creator-avatar {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

@media only screen and (min-width: 1280px) {
    .creator-avatar {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
}

.creator-name {
    display: block;
    width: 131px;
    padding: 14px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    transition: transform 0.3s ease-in-out;
}

@media only screen and (min-width: 834px) {
    .creator-name {
        width: 330px;
        padding: 14.5px 0;
        margin-right: 20px;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4;
    }
}

@media only screen and (min-width: 1280px) {
    .creator-name {
        width: 300px;
        padding: 26.5px 0;
        margin-right: 60px;
    }
}

.rankings-item:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 16px 2px #000;
}

@media only screen and (max-width: 833.98px) {
    .change-value {
        display: none;
    }
}

@media only screen and (min-width: 834px) {
    .change-value {
        width: 100px;
        margin-right: 20px;
        color: #00AC4F;
        font-family: "Space Mono";
        font-size: 16px;
        line-height: 1.4;
    }
}

@media only screen and (min-width: 1280px) {
    .change-value {
        width: 160px;
    }
}

.amount-sold {
    width: 160px;
    margin-right: 20px;
    color: var(--text);
    font-family: "Space Mono";
    font-size: 16px;
    line-height: 140%;
}

@media only screen and (max-width: 1279.98px) {
    .amount-sold {
        display: none;
    }
}

.volume-amount {
    width: 80px;
    color: var(--text);
    font-family: "Space Mono";
    font-size: 12px;
    line-height: 1.1;
}

@media only screen and (min-width: 834px) {
    .volume-amount {
        width: 100px;
        font-size: 16px;
        line-height: 1.4;
    }
}

@media only screen and (min-width: 1280px) {
    .volume-amount {
        width: 160px;
    }
}
/* #region Animations */
.animated-element.left {
    opacity: 0;
    transform: translateX(-110px);
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.animated-element.right {
    opacity: 0;
    transform: translateX(110px);
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.animated-element.left.visible {
    opacity: 1;
    transform: translateX(0);
}

.animated-element.right.visible {
    opacity: 1;
    transform: translateX(0);
}


.animated-element.animation-1 {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.animated-element.animation-1.visible {
    opacity: 1;
    transform: translateY(0);
}

.animated-element.animation-2 {
    opacity: 0;
    transform: translateX(-110px);
    transition: opacity 0.5s, transform 0.5s;
}

.animated-element.animation-2.visible {
    opacity: 1;
    transform: scaleX(1);
}

.animated-element.animation-3 {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s, transform 0.5s;
}

.animated-element.animation-3.visible {
    opacity: 1;
    transform: rotate(0);
}

.animated-element.animation-4 {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.animated-element.animation-4.visible {
    opacity: 1;
    transform: translateY(0);
}

.animated-element.animation-5 {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.animated-element.animation-5.visible {
    opacity: 1;
    transform: scale(1);
}